.App {
  /* max-width: 1200px; */
  margin: 0 auto;
}

button,
input[type="submit"] {
  background-color: #b433ff;
  color: white;
  border-radius: 64px;
  font-size: 24px;
  border: 0;
  box-shadow: 0 4px 12px #00000040;
  padding: 0 16px;
  transition: transform 300ms ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
}
* {
  box-sizing: border-box;
}
