.container {
  max-width: 1200px;
  margin: 0 auto;
  .heading {
    display: flex;
    flex-shrink: 0;
    position: relative;
    flex-wrap: wrap;
    font-size: 42px;
    > div {
      margin-left: 20px;
    }
  }
  .timer {
    h3 {
      margin-top: 32px;
      margin-bottom: 8px;
    }
    margin-top: 16px;
    overflow: hidden;
    max-height: 100vh;
    padding: 0 16px;
    transition: max-height 300ms ease-in-out;
    transform: translateX(-16px);
    max-width: 450px;
  }
  .from {
    display: flex;
    margin-top: 32px;
    .message {
      background: white;
      box-shadow: 0 4px 12px #00000040;
      border-radius: 64px;
      border: 0;
      font-family: "Roboto", sans-serif;
      outline: none;
      padding: 8px 32px;
      font-size: 32px;
    }
    .button {
      background: black;
      color: white;
      border-radius: 64px;
      font-size: 24px;
      margin-left: 16px;
      font-family: "Nunito", sans-serif;
      border: 0;
      box-shadow: 0 4px 12px #00000040;
      padding: 0 16px;
      cursor: pointer;
      transition: transform 300ms ease-in-out;
      white-space: nowrap;
      overflow: hidden;
      display: flex;
      align-items: center;
    }
  }
}

.error {
  padding: 16px;
  border-radius: 16px;
  border: 2px solid red;
  margin-top: 16px;
}
.table {
  width: 100%;
  margin-top: 64px;
  border-radius: 16px;
  border-collapse: collapse;
  th,
  td {
    padding: 15px;
  }
  th {
    text-align: left;
  }
  td {
    margin-bottom: 20px;
  }
}
